<div class="cart-container">
  <div class="product-container">
  {{#each this.cart.itemList as |item|}}
  <div class="add-cart-price-content">
  <div class="product-card">
  <img class="product-image" src="{{item.image}}" alt="Product Image">
  
</div>
<div class="price-div">
  <input type="number" 
  class="increse-product" 
  value="{{item.count}}"
  {{on "input" (fn this.updateItemCount item)}}
  >
  <div class="product-des-div">
    <div class="product-details">
    <div class="product-name">{{item.productName}}</div>
    <div class="product-name">{{item.pDescription}}</div>
    <div class="product-price">{{currency item.price}}</div>
  
  </div>
    <p class="product-des"></p>
  </div> 
</div>
</div>
  {{/each}}

  </div>

    <div class="total-div">
      <div class="total-content">
    <div class="row">
      <span class="col">Subtotal : {{currency this.subtotal }}</span> 
    </div>
    <div class="row">
      <span class="col">Tax : {{currency this.tax }}</span>
    </div>
     <div class="row">
      <span class="col">Total : {{currency this.total}}</span> 
    </div>
    <div class="buy-btn-div">
      <button class="s-c-buy-btn">Buy Now</button>
    </div>
  </div>
      
      
    </div>
  
</div>
