<div class="p-d-content">
      <div class="p-d-img-div">
      <img class="p-d-img" src="{{this.args.oneProduct.image}}" alt="phone">
    </div>
    <div class="p-d-m_p-content">
<div class="p-m-content">

  <h3>{{this.args.oneProduct.brand}}</h3>
    <h2> {{this.args.oneProduct.model}} </h2>
      <h2>{{this.args.oneProduct.description}}</h2>

</div>
<div class="p-d-rpice-div">
  <section class="price_sec">
<i style="text-decoration: line-through;" >{{this.args.oneProduct.price.original}}</i>
<i style="font-weight: bold; color:red; ">{{this.args.oneProduct.price.current}}</i>

</section>
<div class="buy-div">
<button class="add-cart-btn">ADD TO CART</button><button class="buy-btn">BUY NOW</button>
</div>
<button class="offer-btn" {{on "click" this.offerStatus}}>Offers</button>
{{#if this.active}}
<div class="offer-div">
  <p  class="off-div-head">Bank Offer</p>
  <p class="off-div-para">Upto ₹850.00 discount on select Credit Cards.</p>
</div>
{{/if}}
</div>
</div>
<div class="fea-content">
  <h2>Features</h2>
  <ul>
    {{#each this.args.oneProduct.features  as |feature|}}
    <li>{{feature}}</li>
    {{/each}}
  </ul>
</div>
<div class="a-item-content">
  <h2>About this item</h2>
  <ul>
    {{#each this.args.oneProduct.about_this_item  as |aboutItem| }}
    <li>{{aboutItem}}</li>
    {{/each}}
  </ul>
</div>
  </div>